html, body { 
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: uniSansHeavy;
  src: url("/Uni_Sans/Uni Sans Heavy.otf");
}

@font-face {
  font-family: uniSansRegular;
  src: url("/Uni_Sans/Uni Sans Regular.otf");
}

@font-face {
  font-family: uniSansThin;
  src: url("/Uni_Sans/Uni Sans Thin.otf");
}
